<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mangement.mybatis.mappers.CompanyInvoiceMapper">
	<resultMap type="CompanyInvoice" id="CompanyInvoiceResult">
		<id property="C_invoice_ID" column="C_invoice_ID" />
		<result property="contract_ID" column="contract_ID" />
		<result property="payment" column="payment" />
		<result property="date" column="Date" />
		<result property="type" column="type" />
	</resultMap>
	
	
	<insert id="insert" parameterType="CompanyInvoice">
		insert into company_invoice
		values(#{C_invoice_ID},#{contract_ID},#{payment},#{date},#{type})
	</insert>

	<delete id="deleteById" parameterType="Integer">
		delete from
		company_invoice where C_invoice_ID=#{C_invoice_ID}
	</delete>

	<select id="findById" parameterType="Integer" resultType="CompanyInvoice">
		select
		* from company_invoice where C_invoice_ID=#{C_invoice_ID}
	</select>

	<select id="find" resultMap="CompanyInvoiceResult">
		select * from company_invoice
	</select>
	
	<update id="updateById" parameterType="CompanyInvoice">
		update company_invoice set contract_ID=#{contract_ID},payment=#{payment},Date=#{date},type=#{type} where C_invoice_ID=#{C_invoice_ID}
	</update>

</mapper> 