<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mangement.mappers.UserMapper">

	<resultMap type="User" id="UserResult">
		<id property="id" column="ID"/>
		<result property="password" column="password"/>
		<result property="authority" column="authority"/>
		<result property="name" column="name"/>
		<result property="sex" column="sex"/>
		<result property="birthday" column="birthday"/>
		<result property="address" column="address"/>
		<result property="phone" column="phone"/>
		<result property="position" column="position"/>
		<result property="IDcard" column="IDcard"/>
		
	</resultMap>

	<insert id="add" parameterType="User">
		insert into user values(#{id},#{password},#{authority},#{name},#{sex},#{birthday},#{address},#{phone},#{position},#{IDcard})
	</insert>

	<update id="update" parameterType="User">
		update user set #{password},#{authority},#{name},#{sex},#{birthday},#{address},#{phone},#{position},#{IDcard},age=#{age} where id=#{id}
	</update>
	
	<delete id="delete" parameterType="Integer">
		delete from user where id=#{id}
	</delete>
	
	<select id="findById" parameterType="Integer" resultType="User">
		select * from user where id=#{id}
	</select>
	
	<select id="find" resultMap="User">
		select * from user
	</select>
	
</mapper> 